body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAFAFA!important;
}

.intl-tel-input * .country-list {
	margin-top: 1rem!important;
	border-radius: .5rem;
	margin-bottom:1rem!important;
}

.intl-tel-input * .selected-flag:after {
	content:"";
	position: absolute;	
	background-color: #CCCCCC;
	top:25%;
	bottom:25%;
	right:-5px;
	width: 1px;
    height: auto;
}

.intl-tel-input.hasError {
	border: solid 2px red;
}

.form-control-plaintext:focus {	
	outline:0;
}

.errorText {
	color:red;
	font-weight: bold;
}

.selected-flag {
	display: flex!important;
    justify-content: center!important;
    align-items: center!important;    
}

.selected-flag .selected-dial-code {
	padding-left: 5px!important;
	font-weight: bold;
}

.separate-dial-code .selected-flag {
	background-color: transparent!important;
}

.btn-pill {
	border-radius: 4rem!important;
}

.btn-disabled {
	background-color: #CCCCCC!important;
	border-color: #CCCCCC!important;
	color: white!important;
}